body {
      margin: 0;
      font-family: 'Segoe UI', Arial, sans-serif;
      background: linear-gradient(to bottom right, #e3f2fd, #f1f8e9);
      color: #222;
    }

    header {
      background-color: #0d47a1;
      color: white;
      text-align: center;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px;
      gap: 30px;
    }

    .columna-izquierda {
      flex: 1;
      min-width: 250px;
      max-width: 300px;
      text-align: center;
      background-color: #ffffffb2;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      padding: 20px;
    }

    .columna-derecha {
      flex: 2;
      min-width: 350px;
      background-color: #ffffffb2;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      padding: 30px;
    }

 img {
  width: 70%;             
  max-width: 200px;        
  height: auto;            
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

    h1 {
      color: #bbdefb;
      margin-bottom: 5px;
    }

    h2 {
      color: #1565c0;
      border-bottom: 2px solid #64b5f6;
      padding-bottom: 5px;
    }

    h3 {
      color: #64b5f6;
      font-weight: normal;
    }

    ul {
      list-style-type: square;
    }

    p, li {
      line-height: 1.6;
    }

    footer {
      text-align: center;
      background-color: #bbdefb;
      padding: 15px;
      border-top: 3px solid #64b5f6;
      color: #0d47a1;
      font-weight: 600;
    }

    a {
      color: #0d47a1;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover {
      color: #1565c0;
      text-decoration: underline;
    }

    .volver {
      display: inline-block;
      background-color: #0d47a1;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      text-decoration: none;
      margin-top: 30px;
      transition: background-color 0.3s;
    }

    .volver:hover {
      background-color: #1565c0;
    }
