/* 0. Reset inicial para todos los elementos */
*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
}

/* 1. Fondo fijo y tipografía de la página */
body{
    background:url(../images/fondo.jpg) center 20px no-repeat fixed;
    background-size:cover;
    font-family:'Indie Flower',cursive;
}

/* Títulos y margen inferior */
h2{margin-bottom:10px;}
img{margin:10px;}

/* 1 y 6. Menú superior y footer fijos en pantalla */
#menu,#footer{
    background-color:#097054;
    margin:0;
    position:fixed;
    width:100%;
    text-align:center;
    color:#fff;
}

/* 1. Estilo del menú superior (borde y fuente) */
#menu{
    top:0;
    border:1px solid #F90;
    border-top:2px dashed #fff;
    border-bottom:2px dashed #fff;
    font-family:Pacifico,cursive;
    font-size:1.2em;
}

#menu li{
    display:inline;
    padding-left:5px;
}

/* 7. Enlaces del menú sin subrayado y con color blanco */
#menu a,
#menu a:link,
#menu a:visited{
    color:#fff;
    text-decoration:none;
}

/* 7. Efecto al pasar el ratón por el menú */
#menu li a:hover{
    border-bottom:5px solid #F90;
}

/* 6. Estilo del pie de página */
#footer{
    bottom:0;
    border-top:2px dashed #fff;
    clear:both;
}

#footer a{
    color:#fff;
    text-decoration:none;
}

/* 7. Efecto al pasar el ratón por los enlaces del footer */
#footer a:hover{
    border-top:5px solid #F90;
}

/* 2. Cabecera con logo y nombre de la empresa */
#header{
    text-align:left;
    border-bottom:5px dashed #fff;
    height:310px;
    font-size:xx-large;
    padding-left:150px;
    padding-top:50px;
    text-shadow:-3px -3px 0 #000,3px -3px 0 #000,-3px 3px 0 #000,3px 3px 0 #000;
    background:url(../images/tatoo-logo3.png) left center no-repeat;
}

/* Sombra para el subtítulo de la cabecera */
#header p{
    text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

/* Zona gris donde se colocan los bloques centrales */
#content{
    background-color:#404040;
    width:100%;
    overflow:auto;
}

/* 4. Columna principal de texto (dos bloques) */
#main{
    width:80%;
    float:left;
    border-right:1px dashed #fff;
    color:#AEC0B1;
}

/* 3. Capa de aviso de cookies en el centro de la pantalla */
#cookieEU{
    position:absolute;
    top:40%;
    left:10%;
    right:10%;
    border:2px solid red;
    background-color:#fff;
    margin-bottom:5px;
    padding-bottom:5px;
    box-shadow:2px 2px 50px #000;
    text-align:center;
}

/* Botón reutilizable (cerrar cookies) */
.button{
    background-color:#097054;
    border:none;
    padding:15px 32px;
    display:inline-block;
    font-size:16px;
    color:#fff;
    text-decoration:none;
}

/* Pequeño efecto al pasar por el botón */
.button:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.2),0 6px 20px rgba(0,0,0,.19);
}

/* 4. Bloques con texto de la empresa */
#one,#two{
    text-align:justify;
    background-color:#4D4D4D;
    padding:10px;
    overflow:auto;
}

/* 4. Primer bloque con borde redondeado */
#one{
    margin:10px 5% 20px 1%;
    border:1px dashed #000;
    border-radius:30px;
}

/* 4. Segundo bloque debajo del primero */
#two{
    clear:both;
    margin:0 5% 30px 1%;
    border:1px dashed #000;
    border-radius:30px;
}

/*  Capa con scroll interno */
#central{
    width:80%;
    height:300px;
    margin-right:20%;
    background-color:#fff;
    border:5px solid #000;
    overflow:auto;
}

/* PRIMERA CAPA: imagen a la DERECHA del texto */
.imageRight{
    float:right;
    border:5px dashed #fff;
    margin-left:10px;
    border-radius:30px;
}

/* SEGUNDA CAPA: imagen a la IZQUIERDA del texto */
.imageLeft{
    float:left;
    border:5px dashed #fff;
    margin-right:10px;
    border-radius:30px;
}



/* 5. Menú lateral de redes sociales (solo iconos) */
#rightNav{
    float:right;     /* hace que flote a la derecha */
    width:15%;
    color:#AEC0B1;
    margin-right:2%;
    margin-top:10px;
}

#rightNav li{
    list-style:none; /* quita viñetas de la lista */
}

/* 7. Efecto al pasar el ratón por los iconos de redes */
#rightNav img:hover{
    border-bottom:5px solid #F90;
    margin-bottom:5px;
}

/* 8. Versión para móvil (reorganizo main y rightNav) */
@media all and (max-width:500px){

    #rightNav,.imageLeft,.imageRight{
        text-align:center;
        width:100%;
    }

    #main,#rightNav{
        width:100%;
    }

    #rightNav{
        margin-bottom:20%;
        margin-right:0;
        margin-top:0;
        border-top:2px dashed #4D4D4D;
    }

    #header{
        padding-top:100px;
    }

    #rightNav img{
        width:8%;
    }

    #rightNav li{
        display:inline;
        margin:0 auto;
    }

    #footer{
        padding-bottom:20px;
    }
}
