
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;  /* centra horizontal */
  align-items: center;      /* centra vertical */
  background:#f3f3f3;
  font-family:Arial, sans-serif;
}



/* Tarjeta general */
#card{
  width:300px;
  background:#ffffff;      /* tarjeta blanca */
  border-radius:10px; 
  border:2px solid #000; 
  box-shadow:0 0 4px rgba(0,0,0,.35); /* sombra alrededor */
  padding:15px;
  font-size:0.92rem;
}

/* capa que respeta el borde blanco */
#top-wrapper{
  background:#fff;           /* mismo blanco que la tarjeta */
  border-radius:0px;         /* sin curvas*/
}

/* Parte superior: avatar + texto en fila */
#top {
  display: flex;              /* activamos flex */
  align-items: center;        /* centramos verticalmente avatar y texto */
  background:#e0e0e0;
  border-radius:0;    /* gris rectangular */
  height:80px;        /* fuerza altura fija */
  gap: 15px;                  /* espacio entre avatar y texto */
}

/* “Circulito” del avatar */
#avatar{
  width:80px;
  height:80px;
  background:#1e90ff;
  border-radius:50%;
  margin:0px 10px 0px 0px;  /* casi pegado a izq/arr/aba */
}

/* Nombre y subtítulo */
#info h2{
  margin:0;
  font-size:1.1em;
}

#info p{
  margin: 15px 0 0;
  font-size:0.9em;
  color:#555;
}


/* fila de estadísticas */
#bio {
  font-size: 0.9em;
  color: #555;
  margin: 15px 0;
  font-weight: bold;  /*texto descripción negrita*/
  padding:15px 15px 10px;
}

/* Línea separadora */
hr{
  border:none;
  border-top:1px solid #eee;
  margin:10px 0 10px;
}

#stats {
  display: flex;              /* ponemos los tres bloques en fila */
  justify-content:space-between;
  text-align:center;
  margin-bottom:15px;
  padding:10px 15px 15px;
}

.stat strong {
  display: block;
  font-size: 1.1em;
}

.stat span {
  font-size:0.9em;     /* igual que bio */
  color:#555;
  font-weight:bold;    /* también en negrita */
}



/* fila de botones */
#actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 0px;
  gap: 10px;
  padding:0 15px 10px;
}

.btn{
  padding:8px 0;
  border-radius:4px;
  border:none;
  cursor:pointer;
  font-size:0.9rem;
}

/* Botón azul “Seguir” */
.btn-primary {
  background: #1e90ff;
  color: #fff;
  flex: 2;
}

/* Botón claro “Msn” */
.btn-secondary {
  background: #f0f0f0;
  color: #333;
  flex: 1;   
}
