@import url('style.css');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Imagen o caja que flota a la izquierda */
.flota {
    float: left;          /* clave del ejemplo */
    margin-right: 1em;
    margin-bottom: 1em;
}

/* Opcional, si usas .especial / .normal como en otros ejemplos */
.especial {
    position: relative;
    display: inline-block;
}

.normal {
    display: inline-block;
}
