@import url('style.css');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 5px 0;
}

.estilosCss {
    margin-top: 40px;
    text-align: center;
}



/* contenedor padre */
.padre {
    position: relative;
    border: 2px solid blue;
    width: 600px;
    height: 300px;
    margin: 40px auto;
    padding: 10px;
}

/* roja absoluta dentro del padre */
.especial {
    position: absolute;
    background-color: red;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;

    top: 20px;
    left: 50px;
}

/* verde normal dentro del padre */
.normal {
    border: 2px solid green;
    background-color: lightgreen;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;

    margin: 40px auto 0 auto;
}
