@import url('style.css');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Caja roja fija en pantalla */
.especial {
    position: fixed;      /* clave: fixed */
    top: 50%;             /* centrada verticalmente */
    left: 50%;            /* centrada horizontalmente */
    transform: translate(-50%, -50%); /* centra justo en medio */

    background-color: red;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    display: inline-block;
}

/* Caja verde normal */
.normal {
    border: 2px solid black;
    background-color: green;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    display: inline-block;
}