@import url('style.css');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Imagen o caja que flota a la derecha */
.flota {
    float: right;         /* clave del ejemplo */
    margin-left: 1em;
    margin-bottom: 1em;
}

.especial {
    position: relative;
    display: inline-block;
}

.normal {
    display: inline-block;
}
