body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

 /* fondo de la pantalla de cartas */
    background-color: green;              /* para comprobar que se aplica */
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
p {
    margin: 5px 0;
}

.estilosCss {
    margin-top: 40px;
    text-align: center;
}

/* Cartas: todavía sin medidas, solo para verlas en fila después */
.carta {
    display: inline-block;
    width: 120px;
    height: 180px;
    margin: 0 10px;
}

.carta img {
    width: 100%;
    height: 100%;
    display: block;
}
