@import url('style.css');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 5px 0;
}

.estilosCss {
    margin-top: 40px;
    text-align: center;
}

/* roja relativa */
.especial {
    position: relative;
    background-color: red;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;

    top: 20px;
    left: 500px;
    display: inline-block;
}

/* verde normal */
.normal {
    position: static;
    border: 2px solid black;
    background-color: green;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    display: inline-block;
}
