*{
  margin: 0px auto;
}

body {
    width:100%;
}

.padre{
    top: 20px;
    left: 500px;
}

.data p {
    border: 3px black dotted;
    margin: 1px;
}

.especial {
    background-color: red;
    border: 2px solid black;  
    width: 200px; 
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    top: 20px;
    left: 500px;
}
.normal {
    border: 2px solid black;  
    background-color: green;
    width: 200px; 
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
}
.estilosCss {
    margin-top: 40px;
    border: 5px black solid;
}

.active {
    background-color: black;
    color: white;
    border-bottom: 5px red solid;
    font-weight: bold;
    padding: 5px 5px 0px 5px;
}

.menu {
    position: fixed;
    bottom: 42px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: white;
    border-top: 2px black solid;
}
.footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    border-top: 2px black solid;
    width: 100%;
    padding: 10px;
    background-color: lightgray;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding-left: 5px;
    border-left: blue 5px solid;
}
a:visited{
    /*color: blue;*/
}
a:hover{    
    background-color: black;
    color: white;
} 