*{
  margin: 0px auto;
}
/* FONDO Y ESPACIO PARA MENÚ Y FOOTER */
body {
  background: url('../images/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

h1, h2 {
  text-align: center;
}

img {
  border: dashed 5px #FF9900;
  margin: 10px;
}

ul {
  color: white;
}

p {
  margin-bottom: 5px;
}

#header {
  margin-top: 35px;
  text-align: center;
  background-color: #FF9900;
  border-bottom: 5px solid #6599FF;
  border-top: 5px solid #6599FF;
  color: white;
  padding-top: 10px;
}

#content{
/* contenedor general, no necesita nada especial para la práctica */ 
}

/* ===================================================== */
/* PUNTO 1: BARRA DE MENÚ FIJA ARRIBA                    */
/* ===================================================== */
#menu {
  /*
  Punto 1: Barra de menu siempre estara 
  */
  /* necesitas 3 instrucciones*/
  /*1: */
  /*2: */
  /*3: */
   /*1: Posicion fija */
  position: fixed;
  /*2: Pegada a la parte superior */
  top: 0;
  /*3: Ocupa todo el ancho y se alinea desde la izquierda */
  left: 0;
  width: 100%;

  text-align: center;  
  background-color: #097054;
  border: 1px solid #FF9900;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu a{
  color: white;
  text-decoration: none;
}


#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{
  /*
  Punto 1: Los enlaces cambian de color de fondo y estan subrayados de color azul
  */
  /* necesitas 2 instrucciones*/
  /*1: */
  /*2: */
  /*1: Fondo naranja al pasar el ratón */
  background-color: orange;
  /*2: Subrayado azul */
  text-decoration: underline;
  text-decoration-color: blue;
}

/* ===================================================== */
/* PUNTO 6: BARRA DE PIE DE PÁGINA FIJA ABAJO            */
/* ===================================================== */
#footer{
  /*
  Punto 6: Barra de pie de pagina siempre estara 
  */
  /* necesitas 3 instrucciones*/
  /*1: */
  /*2: */
  /*3: */
  /*1: Posicion fija */
  position: fixed;
  /*2: Pegada a la parte inferior */
  bottom: 0;
  /*3: Ocupa todo el ancho */
  left: 0;
  width: 100%;
  
  background-color: #097054;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}

#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  color: #443266;
  background-color: white;
  text-decoration: none;
}
#image {
  text-align: right;
  margin-right: 60px;
}

/* ===================================================== */
/* PUNTO 2: CAPA DE IMÁGENES FLOTEANDO IZQ / DCHA        */
/* ===================================================== */
#imageLeft {
 /*
  Punto 2: La capa de las imagenes debe aparecer a la izquierda de la pantalla
 */

  /* necesitas 1 instruccion*/
  /*1: */
  /*1: Flotar a la izquierda */
  float: left;

  text-align: center;
  padding-bottom: 5px;

}

#imageRight {
 /*
  Punto 2: La capa de las imagenes debe aparecer a la derecha de la pantalla
 */

  /* necesitas 1 instruccion*/
  /*1: */
  /*1: Flotar a la derecha */
  float: right;

  text-align: center;
  padding-bottom: 5px;
}

/* ===================================================== */
/* PUNTO 3: ROMPER EL FLOAT DE CAPA 2 (ANTERIOR).                      */
/* Y CAPA 3 IZQUIERDA CON DISPLAY                        */
/* ===================================================== */
#textMain {
/*
  Punto 3: Para que la capa de la imagen y el float NO sigan la dinamica de la seccion anterior hay que romperla
 */

  /* necesitas 1 instruccion*/
  /*1: */
  /*1: Romper los floats anteriores */
  clear: both;
}

#imageToHide {
 /*
  Punto 3: La capa de las imagenes debe aparecer a la izquierda de la pantalla
 */

  /* necesitas 1 instruccion*/
  /*1: */  
  /*1: Flotar también a la izquierda (capa 3 izqda.) */
  float: left;  

  text-align: center;
  margin-bottom: 40px;
}

/* Imagen izquierda de la capa 3 (cuarto dragón) */
#imageToHideRight {
  float: right;
  text-align: center;
  margin-bottom: 40px;
}


/* ===================================================== */
/* PUNTO 4: CAPA DE COOKIES POSICIONADA, NO FIJA         */
/* ===================================================== */
#textCookie {
  text-align: center;
}

#cookieEU {
 /*
  Punto 4: La capa esta posicionada casi al centro de la pantalla. Se diferencia del menu y del footer en que NO se queda fija al hacer scroll de la pagina.
 */

  /* necesitas 4 instrucciones. 3 son distancia a los bordes :)*/
  /*1: */  
  /*2: */    
  /*3: */    
  /*4: */    
  /*1: Posicion relativa respecto a la página */
  position: relative;
  /*2: Distancia desde arriba */
  top: 80px;
  /*3: Margen lateral para centrar (izquierda) */
  margin-left: 10%;
  /*4: Margen lateral para centrar (derecha) */
  margin-right: 10%;

  border:2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}

#textOverflow {
/* ===================================================== */
/* PUNTO 5: OVERFLOW VERTICAL, SIN HORIZONTAL            */
/* ===================================================== */
 /*
  Punto 5: La capa tiene una barra de scroll vertical para que podamos leer el texto que no cabe en el tamaño. Solo vertical, no horizontal
 */

  /* necesitas 2 instruccion*/
  /*1: */  
  /*2: */  
  /*1: Scroll solo vertical */
  overflow-y: scroll;  
  /*2: Ocultar overflow horizontal */
  overflow-x: hidden;  

 
  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
}

/* Texto central entre las capas 2 */
#textCentral {
  margin-top: 10px;
  padding: 15px;
  border: 5px dashed black;
  background-color: white;
  margin: 10px 250px ;
  border-radius: 30px 30px 30px 30px ;     /* resto */
}

.button {
  	background-color: #097054; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),
               0 6px 20px 0 rgba(0,0,0,0.19);
}


/* ===================================================== */
/* PUNTO 7: @MEDIA – AJUSTE EN PANTALLAS PEQUEÑAS        */
/* ===================================================== */
  @media all and (max-width: 500px) {
    #imageLeft {
    /*
    Punto 7.1: Barra de menu siempre estara 
    */
    /* necesitas 1 instruccion*/
    /*1: */
    /*1: Quitar el float */
    float: none;

    text-align: center;
    padding-bottom: 5px;
  }

  #imageRight {
    /*
    Punto 7.1: Barra de menu siempre estara 
    */
    /* necesitas 1 instruccion*/
    /*1: */
     /*1: Quitar el float */
    float: none;

    text-align: center;
    clear: both;
    padding-bottom: 5px;
  }
  
  #textCentral {
    margin: 0px 0px ;
  }
  
  #imageToHide {
    /*
    Punto 7.2: Barra de menu siempre estara. La capa 3 también se desplaza hacia arriba / se adapta.
    */
    /* necesitas 1 instruccion*/
    /*1: */
    /*1: Quitar el float en pantallas estrechas */
    float: none;

    text-align: center;
    margin-bottom: 40px;
  }
  
  #textOverflow {
    margin-right: 0px;
  }
    #header {
    margin-top: 50px;
  }
 
}   


@media all and (max-width: 300px) {
  #header {
    /*
    Cambio el margen para que no lo tape el menu
    */
    margin-top: 100px;
  }

}