/* Colores: #B2DAF3 (Header), #F6B806 (Men칰/Enlaces), #58167A (Footer) */

* {
    /* Reinicia los m치rgenes y rellenos por defecto */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Fondo m치s suave/bonito */
    background-color: #FDF5E6; 
    text-align: center;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 1.8em;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
}

ul {
    list-style: none;
    display: inline-block; 
}

li {
    display: inline;
    margin: 0 10px;
}

p {
    /* Dejar p global sin estilos para evitar conflictos */
}

#header {
    /* 1. L칤nea de 5px negra */
    border-bottom: 5px solid black;
    background-color: #B2DAF3;
    width: 100%;
}

#content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 5%; 
    overflow: hidden; 
}

#text {
    margin-bottom: 10px; 
    overflow: hidden;
    padding-top: 10px;
}

#text p {
    /* 10. Rellenan el 90% del espacio disponible */
    width: 90%; 
    
    /* Alineaci칩n de los p치rrafos a la izquierda de la caja de texto */
    margin-left: 0; 
    margin-right: auto;
    
    /* 11. Separaci칩n de 10px entre p치rrafos (tres cajas separadas) */
    margin-bottom: 10px;
    margin-top: 0;
    
    /* 5. Los tres p치rrafos arrojan sombras. */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* 9. Sangr칤a de 40 px en la primera l칤nea. */
    text-indent: 40px;
    
    text-align: justify;
    background-color: white;
    line-height: 1.5;
    padding: 15px; 
    border: 2px dashed #D0D0D0; /* Borde punteado para cada p치rrafo */
}

#text p:first-child {
    /* 4. Esquinas redondeadas solo en la parte superior 30px. */
    border-radius: 30px 30px 0 0;
    /* 12. Fondo que se repite. */
    background-image: url('../images/fondoParrafo.png');
    background-repeat: repeat;
    background-color: #E0FFFF;
}

#text p:last-child {
    /* 8. Esquinas redondeadas solo en la parte inferior 30px. */
    border-radius: 0 0 30px 30px;
    
    margin-bottom: 0; 
}


#menu {
    margin-top: 10px;
    background-color: #F6B806;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    /* 7. L칤nea roja de 5px a la izquierda. */
    border-left: 5px solid red;
}


#menu li{
    display: inline;
    margin: 0 10px;
}

#menu li a:hover{
    /* 14. Subrayado en rojo al pasar el rat칩n. */
    text-decoration: underline;
    color: red;
}

#footer{
    /* 6. L칤nea superior de 5px negra. */
    border-top: 5px solid black;
    background-color: #58167A;
    padding: 10px 0;
    width: 100%;
}

#footer a{
    color: #F6B806; 
    text-decoration: none;
}

#footer a:hover{
    text-decoration: underline;
}

#image {
    /* Vista por defecto: Alineada a la derecha */
    float: right;
    margin-right: 60px;
    margin-top: 10px;
    margin-left: 20px; 
    border: 1px solid black; 
    padding: 5px;
    background-color: white; /* Color de fondo de la imagen (blanco) */
    width: 260px; 
    text-align: center; 
}

/* Soluci칩n para centrar la imagen DENTRO del div #image */
#image img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
}

/* Soluci칩n para centrar el texto DESCRIPTIVO BAJO la foto */
#image p {
    font-size: 0.8em;
    padding: 5px 0 0 0;
    text-align: center; 
    width: 250px; 
    margin: 0 auto; 
}

/* ========================================================= */
/* 游 REGLA PARA CENTRAR IMAGEN EN LA P츼GINA "MARCIANOS" */
/* ========================================================= */
.marciano-view #image {
    /* Desactiva la flotaci칩n y el margen derecho */
    float: none;
    margin-right: auto;
    
    /* Centra la caja #image en el centro de la pantalla */
    margin-left: auto;
}


@media all and (max-width: 500px) {
    /* 13. Media Query */
    
    #content {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #image {
        float: none;
        margin: 10px auto; 
        width: 90%;
        border: 5px solid red;
    }
    
    #text p {
        width: 95%; 
        margin-left: auto; 
        margin-right: auto;
    }
    
    #menu li {
        display: block; 
        margin: 5px auto;
        width: fit-content;
    }
}