/*
    CSS para el examen

    colores:

    fondo: #333333;
    fondo: cajas: #424242;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/

body {
    /* 1- color de fondo */
    background-color: #333333; /* fondo gris oscuro */
    /* 2- ancho 90% */
    width: 90%;
    /* 3- centrar */
    margin: 0 auto;  /* centra horizontalmente */
    font-family: 'Times New Roman', Times, serif; 
}

.container {
    text-align: center;
}

/* cabecera, cajas y pie */
.youtuber, .footer, .header {
    /* 4- color de fondo */
    background-color: #424242; /* cajas gris más claro */
    border: 1px solid white; /* líneas claras */
    /* 5- redondear el borde */
    border-radius: 5px;
    /* 6- sombra */
    box-shadow: 0 0 10px black;
    margin: 5px auto;
    padding: 20px;
    text-align: center;    
}

.footer {
    padding: 0px;
    color: white;

}

/* imagen grande de portada */
.imageHome{
    border:black 4px solid; /* Dibuja un borde alrededor de la imagen */
    border-radius: 3%;   /* Redondea las esquinas del borde */
    /* 7- tamanyo */  
    width: 60%;            /* porción del ancho de la caja */
    height: auto;     /* altura automática, mantiene proporción */
    /* podriamos modificarlo por margen de izquierda: margin-left: auto; o margen por la derecha:
       margin-right: auto;*/ 
   
    /* Se utiliza en imágenes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo
    su relación de aspecto*/
    object-fit: cover; 
    display: block;
    margin: 10px auto; /* pequeña separación hacia abajo y centrada */
}

.youtuber .images {
    /* 8- redondear la imagen*/
    border-radius: 50%; /* Hace la imagen circular */
    width: 150px;
    height: 150px;    
    /* Se utiliza en imágenes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo 
    su relación de aspecto*/
    object-fit: cover; 
}

.youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}

.youtuber p {
    color: white;
    font-size: 1em;
}

#menu {
    /* 9- quita los puntos */
    list-style-type: none; /* ← Quita los puntos de la lista */
    padding-left: 0; 
}


li {
    /* 10- haz que los li no sean de tipo bloque */
    display: inline-block; /* ← Esto hace que estén en línea horizontal */
    /* 11- borde izquierdo rojo */
    border-left: 4px red solid; /* ← Borde rojo 4px lado izquierdo */
    /* 12- separa el borde de la izquierda */
    padding-left: 5px; /* ← Espacio DESPUÉS del borde rojo */
    margin: 10px;   /* Espacio mínimo entre elementos */
    white-space: nowrap; /* Evita que los elementos se dividan en varias líneas */
}   

#menu a {
    /* 13- enlaces blancos */
    color: white;
    /* 14- sin subrayado */
    text-decoration: none;
}

#menu a:hover {
    /* 15- cambia el color al subrayado (cambia color de texto al pasar con el ratón)*/
    color: red;
}


.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF; /* botón azul */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    /* animacion en css, para cambiar el color del boton, no visto en clase 
    pero yo te lo regalo ;) */
    transition: background-color 0.3s ease;
}
.button:hover {
    /* 16- cambia el color al boton*/
    background-color: #0056b3; /* azul más oscuro al pasar el ratón */
}

@media all and (max-width: 700px) {
    .youtuber, .footer {
        /* 17- cambia el color al BORDE*/
        border-color: red;
    }
    .button {
        /* 18- cambia el color al boton*/  
        background-color: red;      
    }
    .button:hover {
        /* 19- cambia el color al boton*/
        background-color: #aa0000; /* rojo más oscuro al pasar el ratón */
    }    
}
